*, *::before, *::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

ul[role='list'], ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Preserve aspect ratio */
img[width][height] {
  height: auto;
}

/* Let SVG scale without boundaries */
img[src$=".svg"] {
  width: 100%;
  max-width: none;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

iframe {
  border: none;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Include a default scroll-margin-top value for any element with an id attribute. */
[id] {
  scroll-margin-top: 2ex;
}

/* Vue: Used to hide un-compiled template until it is ready. */
[v-cloak] {
  display: none;
}